@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Joan", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img1.jpg) no-repeat center center/cover;
}

.container {
    display: flex;
}